<MudDialog>
    <TitleContent>
        部署
    </TitleContent>
    <DialogContent>
        <div>
            <MudGrid>
                <MudItem lg="12" Style="display: flex;flex-direction: column">
                    <MudInput T="string" Label="发布说明" Placeholder="请输入本次发布说明" MaxLines="5" AutoGrow @bind-Value="releaseNote"></MudInput>
                </MudItem>
            </MudGrid>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Submit">确定</MudButton>
        <MudButton OnClick="Cancel">取消</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    string releaseNote = string.Empty;
    private void Submit() => MudDialog.Close(DialogResult.Ok(releaseNote));

    private void Cancel() => MudDialog.Cancel();
}
