@using LightDeploy.Server.Dtos
@using Masuit.Tools
@inject ISnackbar Message;
<MudDialog>
    <DialogContent>
        <div>
            <MudGrid>
                <MudItem lg="12" Style="display: flex;flex-direction: column;gap: 20px">
                    <MudInput T="string" Placeholder="服务安装目录" AutoGrow bind-Value="request.TargetDir"></MudInput>
                    <MudInput T="string" Placeholder="可执行程序名(相对安装目录)" AutoGrow bind-Value="request.ExePath"></MudInput>
                    <MudInput T="string" Placeholder="执行参数" AutoGrow bind-Value="request.ExeParams"></MudInput>
                    <MudInput T="string" Placeholder="服务描述" AutoGrow bind-Value="request.Description"></MudInput>
                </MudItem>
            </MudGrid>
        </div>
       
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Submit">确定</MudButton>
        <MudButton OnClick="Cancel">取消</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    InstallServiceRequest request = new InstallServiceRequest();
    
    private void Submit()
    {
        if (request.TargetDir.IsNullOrEmpty()) Message.Add("安装目录不能为空", Severity.Error);
        else if (request.ExePath.IsNullOrEmpty()) Message.Add("可执行程序名不能为空", Severity.Error);
        else
            MudDialog.Close(DialogResult.Ok(request));
    }

    private void Cancel() => MudDialog.Cancel();
}